
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{font-family: 'Poppins', sans-serif;}
html {scroll-behavior: smooth;}

/** TIPOGRAFÃA **/
h1{	font-size: 56px; line-height: 85px; font-weight: bold;}
h2{	font-size: 38px; line-height: 43px; font-weight: bold;}
h3{	font-size: 31px; line-height: 32px; font-weight: bold;}
h4{	font-size: 23px; line-height: 29px; font-weight: bold;}
p {	font-size: 17px; line-height: 27px; }

@media(max-width: 767px)
{
	h1{	font-size: 36px; line-height: 43px; font-weight: bold;}
	h2{	font-size: 38px; line-height: 43px; font-weight: bold;}
	h3{	font-size: 31px; line-height: 32px; font-weight: bold;}
	h4{	font-size: 19px; line-height: 22px; font-weight: bold;}
}

/* Paleta de colores */
.bg-danger{ background-color: #E54B4B!important; }
.btn-danger{ background-color: #E54B4B!important; border-color: #E54B4B; }
.text-danger{ color: #E54B4B!important; }
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active
{ 
	background-color: transparent!important; 
	border-color: #E54B4B!important;
	box-shadow: none!important;
	color: #E54B4B!important;
}

.bg-primary{ background-color: #2B59C3!important; }
.btn-primary{ background-color: #2B59C3!important; border-color: #2B59C3; }
.text-primary{ color: #2B59C3!important; }
.page-item.active .page-link{ background-color: #2B59C3!important;border-color: #2B59C3; }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active
{ 
	background-color: transparent!important; 
	border-color: #2B59C3!important;
	box-shadow: none!important;
	color: #2B59C3!important;
}

.bg-success{ background-color: #DEB841!important; }
.btn-success{ background-color: #DEB841!important; border-color: #DEB841; }
.text-success{ color: #DEB841!important; }
.btn-success:hover,
.btn-success:focus,
.btn-success:active
{ 
	background-color: transparent!important; 
	border-color: #DEB841!important;
	box-shadow: none!important;
	color: #DEB841!important;
}

.bg-light{ background-color: #FAFAFF!important; }
.btn-light{ background-color: #FAFAFF!important; border-color: #FAFAFF; }
.text-light{ color: #FAFAFF!important; }
.btn-light:hover,
.btn-light:focus,
.btn-light:active
{ 
	background-color: transparent!important; 
	border-color: #FAFAFF!important;
	box-shadow: none!important;
	color: #FAFAFF!important;
}

.bg-dark{ background-color: #1E1E1E!important; }
.btn-dark{ background-color: #1E1E1E!important; border-color: #1E1E1E; }
.text-dark{ color: #1E1E1E!important; }
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active
{ 
	background-color: transparent!important; 
	border-color: #1E1E1E!important;
	box-shadow: none!important;
	color: #1E1E1E!important;
}

.nav-link{ color: #FAFAFF!important;}
.nav-link:hover{ color: #E54B4B!important;}





header,
footer
{
	background-color: #1E1E1E;
}

header .logo-ph 
{
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.login-container
{
	min-height: 80vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body > div
{
	padding: 0 20px;
}

.product > a {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
    width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.product > a:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.product img 
{
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    object-fit: cover;
}

.carousel-caption 
{
	bottom: 50%!important;
}

.custom-divider
{
	height: auto; 
	background: #3a3a3a; 
	width: 1px; 
	margin: 0 0.5rem
}

.dropdown-item:hover
{
	background-color: #E54B4B;
	color: #FAFAFF;
}

.menu-badge 
{
	font-size: 9px;
	margin-left: 4px;
	position: relative;
	top: -10px;
	margin-bottom: 13px;
	color: #ffffff;
	background-color: #E54B4B;
	padding: 3px 4px;
	border-radius: 3px;
}

.badge-bounce {
	animation: bouncing .8s cubic-bezier(0.1,0.05,0.05,1) 0s infinite alternate both;
}

@keyframes bouncing{
	0%{top:-6px}
	100%{top:-10px}
}






/********** HOME ************/
.page-home .carousel,
.page-home .carousel div,
.page-home .carousel img
{
	min-height: 300px;
	object-fit: cover;
}

.page-home .carousel img{filter: brightness(0.5);}

.carousel-caption
{
	position: absolute;
    height: 100%;
	top: 0;
	left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.carousel-indicators li 
{
	width: 13px;
    height: 13px;
	border-radius: 50%;
	margin: 0 10px;
}




/********** ABOUT ************/

.portada-about
{
	height: calc(80vh - 76px);
	min-height: 500px;
	background: linear-gradient(to right, #1e1e1e3f 0%, #e54b4b44 100%);
	overflow: hidden;
	position: relative;
}

#video-background 
{
	position: absolute;
    left: 0;
    width: 100%!important;
    height: 100%;
    z-index: -100;
    filter: grayscale(1);
    object-fit: cover;     
}

.about3 i
{
	font-size: 40px;
}

.page-section {
	padding: 70px 0;
}

.instagram-grid .item
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.instagram-grid img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	transition: 1s;
}

.instagram-grid a:nth-child(2)
{
	position: absolute;
    color: #fff;
    z-index: 1;
	font-size: 30px;
	transform: translateY(-100px);

	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	opacity: 0;
	transition: 1s;
}

.instagram-grid .item:hover img
{
	filter: brightness(0.5) grayscale(.3);
	transform: scale(1.1);
}
.instagram-grid .item:hover a:nth-child(2) 
{
	transform: translateY(0);
	opacity: 1;
}